<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="ServiceHostContainer.Configuration.ServiceHostContainerSection, ServiceHostContainer" name="ServiceHostContainer"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <ServiceHostContainer>
    <BaseAddresses>
      <add uri="net.tcp://localhost:8000/services/" />
    </BaseAddresses>
     </ServiceHostContainer>
</configuration>