<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="ServiceHostContainer.Configuration.ServiceHostContainerSection, ServiceHostContainer" name="ServiceHostContainer"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dashboard.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <ServiceHostContainer>
    <BaseAddresses>
      <add uri="net.tcp://localhost:8001/services/" />
    </BaseAddresses>
  </ServiceHostContainer>
  <applicationSettings>
    <Dashboard.Shell.Properties.Settings>
      <setting name="ServiceUpdateTarget" serializeAs="String">
        <value>ServiceHost</value>
      </setting>
      <setting name="ClientAUpdateTarget" serializeAs="String">
        <value>Client</value>
      </setting>
      <setting name="ClientBUpdateTarget" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceUpdateSource" serializeAs="String">
        <value>PendingUpdates\ServiceHost\ServiceV2</value>
      </setting>
      <setting name="ClientUpdateSource" serializeAs="String">
        <value>PendingUpdates\Client\ClientV2</value>
      </setting>
    </Dashboard.Shell.Properties.Settings>
  </applicationSettings>
</configuration>
